/* @font-face {
  font-family: "Julee";
  src: url("../public/fonts/Julee-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../public/fonts/Exo2-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
} */

.main {
  font-family: "Nunito";
}
